name: Build iOS IPA

on:
  push:
    branches:
      - main # Trigger on push to the main branch

jobs:
  build_ios:
    runs-on: macos-latest # iOS builds require a macOS runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Setup Expo
        uses: expo/expo-github-action@v8
        with:
          eas-version: latest
          token: ${{ secrets.EXPO_TOKEN }} # Use the GitHub secret

      - name: Install dependencies
        run: npm install

      - name: Build iOS app
        run: eas build --platform ios --non-interactive
